body {
    background-color: #F3F0E6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: border-box;
    font-family: 'Garamond', 'PT Serif', Georgia, 'Times New Roman', serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.1%;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: #829A78 ;
    justify-content: center;
}

.navbar img {
    height: 5rem;
    border-radius: 12px;
    align-items: center;
}